body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

label {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
input {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
select {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
errors {
  color: red;
}
